# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\НУ ЛП\PP\Lab9Naz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
